.input-form {
    
}

input {
    background: rgba(0, 0, 0, 0.1);
    padding: 12px 16px;
    border-radius: 12px;
    border: 2px solid rgba(50, 59, 84, 1);
    margin-right: 8px;
    width: 60%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

