.button-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  background: rgba(32, 40, 62, 0.8);
}

.button-card:hover {
  background: rgba(48, 60, 88, 0.8);
}

.link-card{
  display: flex;
  flex-direction: column;
}

.movie-poster {
  display: block;
  border-radius: 8px;
  width: 100%;
  height: 400px;
  overflow: hidden;

}

.movie-poster_img {
  width: 100%;
  height: 100%;
}

.description {
  padding: 5px ;
}

.description_title {
  color: rgba(235, 238, 245, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.buttonVaforite-card{
  padding: 0 0 10px 20px;
}