.h1 {
    font-weight: 600;
    letter-spacing: -2%;
    color: #ebeef5;
}

.h1_64 {
    font-size: 64px;
    line-height: 80px;
    margin: 0 0 16px 0;
}

.h1_32 {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
}